php_flag display_errors Off
php_flag display_startup_errors Off
php_flag log_errors On
php_value error_reporting 32767

Options -Indexes

<FilesMatch "\.(sql|log|env|git|bak|sh)$">
    Require all denied
</FilesMatch>
